<section class="page contact">
    <header>
        <h3>
            {{fullName() | capitalize}} 
            <button ng-hide="contact.favorite" ng-click="toggleFavorite()" class="btn btn-default">
                <span class="fa fa-star-o"></span>
            </button>
            <button ng-show="contact.favorite" ng-click="toggleFavorite()" class="btn btn-default">
                <span class="fa fa-star"></span>
            </button>

        </h3>
    </header>

    <div class="row">

        <div class="col-sm-3">
            <h4>Contact information</h4>
            <p>
                <strong>Birthday</strong>
                {{contact.birthday | date:'dd.MM.yyyy.'}}
            </p>
            <p>
                <strong>Email</strong>
                {{contact.email}}
            </p>
            <p>
                <strong>Phone</strong>
                {{contact.phone}}
            </p>
        </div>
        <div class="col-sm-3">
            <h4>Contact groups</h4>
            <group-list groups="contact.groups" set-favorite="toggleFavorite()"></group-list>
        </div>
        <div class="col-md-6">
            <h4>Contact object</h4>
            <pre>
                {{contact | json}}
            </pre>
        </div>
    </div>
</section>
