<section class="page edit-contact">
    <header>
        <h3>Edit contact</h3>
    </header>

    <div class="row">
        <div class="col-md-6">
            <form ng-submit="saveContact(contact)" name="contactForm" novalidate>
                <label for="firstName">First name:</label>
                <input
                    type="text"
                    ng-model="contact.firstName"
                    name="firstName"
                    class="form-control"
                    required>
                <br>
                <label for="lastName">Last name:</label>
                <input
                    type="text"
                    ng-model="contact.lastName"
                    name="lastName"
                    class="form-control"
                    required>
                <br>
                <label for="email">Email:</label>
                <input
                    type="email"
                    ng-model="contact.email"
                    name="email"
                    class="form-control">
                <br>
                <label for="gender">Pol:</label>
                <input
                    type="radio"
                    name="gender"
                    ng-model="contact.gender"
                    value="m">
                    Muski
                <input
                    type="radio"
                    name="gender"
                    ng-model="contact.gender"
                    value="z">
                    Zenski
                <br>
                <label>Grupe:</label><br>
                <span ng-repeat="g in allGroups track by $index">
                    <input
                        type="checkbox"
                        ng-click="toggleGroup(g)"
                        ng-checked="isPresent(g)">
                    {{g.name}}
                    <br>
                </span>
                <br>
                <br>
                <button type="submit" class="btn btn-primary" ng-disabled="contactForm.$invalid">Snimi</button>
            </form>
        </div>
    </div>
</section>
