<section class="page new-contact">
    <header>
        <h3>New contact</h3>
    </header>

    <div class="row">
        <div class="col-md-6">
            <form ng-submit="saveContact(newContact)" name="newContactForm" novalidate>
                <label>First name:</label>
                <input type="text" ng-model="newContact.firstName" name="firstName" class="form-control" required>
                <span ng-show="newContactForm.firstName.$invalid">Nesto ne valja</span>
                <br>
                <label>Last name:</label>
                <input type="text" ng-model="newContact.lastName" name="lastName" class="form-control" required>
                <br>
                <label>Email:</label>
                <input type="email" ng-model="newContact.email" name="email" class="form-control">
                <br>
                <label>Pol:</label>
                <input type="radio" name="gender" ng-model="newContact.gender" value="m">
                Muski
                <br>
                <input type="radio" name="gender" ng-model="newContact.gender" value="z">
                Zenski
                <br>
                <br>
                <span ng-repeat="g in allGroups">
                    <input type="checkbox" ng-click="toggleGroup(g)" ng-checked="isPresent(g)">
                    {{g}}
                    <br>
                </span>
                <br>
                <button type="submit" class="btn btn-primary" ng-disabled="newContactForm.$invalid">Snimi</button>
            </form>
            <hr>
            {{newContact | json}}
        </div>
    </div>
</section>
