<section class="page promises">
    <div class="row">
        <div class="col-md-12">
            <h4>Callbacks</h4>
            Time: <strong>{{time | number:2}}</strong>
            <br><br>
            Ime: {{name}} <br><br>
            <button ng-click="showRealName()">Show real name</button>
            <hr>
        </div>
        <div class="col-md-12">
            <h4>Promises</h4>

            Best chinese: {{bestChinese}} <br>
            Second best chinese: {{secondBestChinese}}
        </div>
    </div>
</section>
