<section class="page contact-list">
    <header>
        <div class="row">
            <div class="col-md-6">
                <h3>Kontakti</h3>
            </div>
            <div class="col-md-6 text-right">
                <a ui-sref="new-contact" class="btn btn-default page-header-button">
                    <span class="fa fa-plus"></span>
                    Novi kontakt</a>
            </div>
        </div>
    </header>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th><a ng-click="sort('firstName')">Ime i prezime</a></th>
                        <th><a ng-click="sort('birthay')">Datum rodjenja</a></th>
                        <th><a ng-click="sort('city')">Grad</a></th>
                        <th><a ng-click="sort('phone')">Phone</a></th>
                        <th><a ng-click="sort('email')">Email</a></th>
                        <th><a ng-click="sort('skype')">Skype</a></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contact in contacts | orderBy:sortField:(order == 'asc')">
                        <td>{{$index + 1}}</td>
                        <td>
                            <span class="fa fa-male" ng-if="contact.gender == 'm'"></span>
                            <span class="fa fa-female" ng-if="contact.gender == 'z'"></span>
                            {{contact.firstName + ' ' + contact.lastName | capitalize }}
                            <span class="fa fa-star" ng-if="contact.favorite"></span>
                        </td>
                        <td>{{contact.birthday | date:'dd.MM.yyyy.'}}</td>
                        <td>{{contact.city | uppercase}}</td>
                        <td>{{contact.phone}}</td>
                        <td>{{contact.email}}</td>
                        <td>{{contact.skype}}</td>
                        <td class="text-right">
                            <button type="button" class="btn btn-default" ng-click="delete(contact)" title="Delete contact">
                                <span class="fa fa-trash-o"></span>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="edit(contact)" title="Edit contact">
                                <span class="fa fa-pencil"></span>
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="open(contact)" title="Open contact">
                                <span class="fa fa-external-link"></span>
                            </button>
                            <!-- <a ui-sref="kontakt({contact: contact})" class="btn btn-primary">Otvori</a> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
