<section class="page edit-group">
    <header>
        <h3>Izmjena grupe</h3>
    </header>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-danger" ng-repeat="error in errors" ng-if="errors">
              {{error}}
            </div>
            <form ng-submit="saveGroup(group)" name="groupForm" novalidate>
                <label for="groupName">Naziv grupe:</label>
                <input
                    type="text" ng-model="group.name"
                    name="groupName"
                    class="form-control">
                <br>
                <label for="groupDescription">Opis grupe:</label>
                <textarea
                    ng-model="group.description"
                    name="groupDescription"
                    rows="4"
                    class="form-control">
                </textarea>
                <br>
                <br>
                <button type="submit" class="btn btn-primary" ng-disabled="groupForm.$invalid">Snimi</button>
            </form>
        </div>
    </div>
</section>
