<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Angular Ninja</title>
        <link rel="stylesheet" type="text/css" href="assets/css/main.css"/>

        <script src="node_modules/angular/angular.js"></script>

        <script src="app/index.js"></script>

        <script src="app/phonebook/phonebook.module.js"></script>
        <script src="app/phonebook/phonebook.ctrl.js"></script>
    </head>

    <body>
        <div ng-app="ninja">
            <h3>
                Trenutni korisnik:
                <em>{{username}}</em>
            </h3>
            <p>
                Promjeni ime:
                <input type="text" ng-model="username">
            </p>
            <hr>
            <div ng-controller="PhonebookCtrl">
                <h3>Lista kontakata:</h3>
                <table class="table" border="1">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Ime</th>
                            <th>Datum rodjenja</th>
                            <th>Grad</th>
                            <th>Telefon</th>
                            <th>Email</th>
                            <th>Skype</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="contact in contacts">
                            <td>{{$index + 1}}</td>
                            <td>{{contact.firstName + ' ' + contact.lastName}}</td>
                            <td>{{contact.birthday | date:'dd. MMM yyyy.'}}</td>
                            <td>{{contact.city}}</td>
                            <td>{{contact.phone}}</td>
                            <td>{{contact.email}}</td>
                            <td>{{contact.skype}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </body>

</html>
