<div class="row">
    <div class="col-md-12">
            <h3>Selektovani kontakt</h3>
            <hr>
            <div class="contact" ng-if="isContactOpen()">
                <div class="row">
                    <div class="col-sm-4">
                        <h4>
                            {{fullName()}}

                            <button ng-hide="contact.favorite" ng-click="toggleFavorite()" class="btn btn-primary">
                                Set favorite
                            </button>
                            <button ng-show="contact.favorite" ng-click="toggleFavorite()" class="btn btn-secondary">
                                Remove favorite
                            </button>
                        </h4>

                        <br>
                        <strong>Birthday</strong>
                        {{contact.birthday | date:'dd. MM. yyyy'}}
                        <br>
                        <strong>Email</strong>
                        {{contact.email}}
                        <br>
                        <strong>Phone</strong>
                        {{contact.phone}}
                        <br>

                    </div>
                    <div class="col-sm-8">
                        <group-list
                            groups="contact.groups" 
                            toggle-favorite="toggleFavorite()">
                        </group-list>
                    </div>
                    <div class="col-sm-12">
                        <hr>
                        <pre>
                            {{contact | json}}
                        </pre>
                    </div>
                </div>
            </div>
    </div>
</div>
