<div class="row">
    <div class="col-md-12">
            <h3>Lista kontakata:</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Ime</th>
                        <th>Datum rodjenja</th>
                        <th>Grad</th>
                        <th>Telefon</th>
                        <th>Email</th>
                        <th>Skype</th>

                        <th>Pol</th>
                        <th>Akcija</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contact in contacts | orderBy:'-lastName'">
                        <td>{{$index + 1}}</td>
                        <td>{{(contact.firstName + ' ' + contact.lastName) | capitalize:5 }}</td>
                        <td>{{contact.birthday | date:'dd. MMM yyyy.'}}</td>
                        <td>{{contact.city | uppercase}}</td>
                        <td>{{contact.phone}}</td>
                        <td>{{contact.email}}</td>
                        <td>{{contact.skype}}</td>
                        <td>{{contact.gender}}</td>
                        <td>
                            <button type="button" class="btn btn-danger" ng-click="delete(contact)">Obrisi</button>
                            <button type="button" class="btn btn-secondary" ng-click="edit(contact)">Izmjeni</button>
                            <button type="button" class="btn btn-primary" ng-click="open(contact)">Otvori</button>
                            <!-- <a ui-sref="kontakt({contact: contact})" class="btn btn-primary">Otvori</a> -->
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
