<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Angular Ninja</title>
        <link rel="stylesheet" type="text/css" href="assets/css/main.css"/>
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="assets/css/main.css"/>
    </head>

    <body>
        <div ng-app="ninja" class="container">
            <header>

            </header>
            <div class="row">
                <div class="col-md-12 navigation">
                    <a ui-sref="lista" class="btn btn-default">Lista kontakata</a>
                    <a ui-sref="novi-kontakt" class="btn btn-default">Novi kontakt</a>
                    <hr>
                </div>
            </div>

            <div ui-view></div>




            <hr>
            <h2>Ucimo evente</h2>

        <div ng-controller="GrandparentCtrl" ng-cloak>
            {{'Grandparent: ' + grandparentContent}}
            <button ng-click="fireGrandparentEvent()">Fire Grandparent event</button>
            <button ng-click="unsubscribeFromChild1()">Unsubscribe from child 1</button>

            <div ng-controller="ParentCtrl">
                {{'Parent: ' + parentContent}}
                <button ng-click="fireParentEvent()">Fire Parent event</button>

                <div ng-controller="Child1Ctrl">
                    {{'Child1: ' + child1Content}}
                    <button ng-click="fireChild1Event()">Fire Child 1 event</button>
                </div>
                <div ng-controller="Child2Ctrl">
                    {{'Child2: ' + child2Content}}
                    <button ng-click="fireChild2Event()">Fire Child 2 event</button>
                </div>
            </div>
        </div>






            <footer>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <hr>
                        Copyright &copy;{{appAuthor}} {{appYear}} | Version {{appVersion}}
                    </div>
                </div>

            </footer>

        </div>

        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>

        <script src="app/index.js"></script>
        <script src="app/constants.js"></script>
        <script src="app/controllers.js"></script>

        <script src="app/shared/shared.module.js"></script>
        <script src="app/shared/capitalize.filter.js"></script>

        <script src="app/phonebook/phonebook.module.js"></script>
        <script src="app/phonebook/phonebook.service.js"></script>
        <script src="app/phonebook/phonebook.ctrl.js"></script>

        <script src="app/contact/contact.module.js"></script>
        <script src="app/contact/contact.service.js"></script>
        <script src="app/contact/contact.ctrl.js"></script>
        <script src="app/contact/new-contact.ctrl.js"></script>
        <script src="app/contact/edit-contact.ctrl.js"></script>

        <script src="app/group/group.module.js"></script>
        <script src="app/group/group.service.js"></script>
        <script src="app/group/group-list.directive.js"></script>
    </body>

</html>
